<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="redqueen.mapper.fdd.FddMapper">
    <resultMap id="BaseResultMap" type="redqueen.entity.fdd.SignatoryMessage">
        <result column="ROWNUM" property="rowNum" jdbcType="DECIMAL"/>
        <result column="USERID" property="userId" jdbcType="DECIMAL"/>
        <result column="SENDREASON" property="sendReason" jdbcType="VARCHAR"/>
        <result column="CONTEXT" property="context" jdbcType="VARCHAR"/>
        <result column="SENDTIME" property="sendTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="RcBorrowGuarantorVo" type="redqueen.entity.fdd.RcBorrowGuarantorVo">
        <result column="GUARNAME" property="guarName" jdbcType="VARCHAR"/>
        <result column="IDCARDNO" property="idCardNo" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="BANKNAME" property="bankName" jdbcType="VARCHAR"/>
        <result column="BANKACCOUNT" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="DECIMAL"/>
        <result column="PRIORITY" property="priority" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="CorporatorMobileVo" type="redqueen.entity.fdd.CorporatorMobileVo">
        <result column="COMREPNAME" property="corporatorName" jdbcType="VARCHAR"/>
        <result column="COMREPMOBILENO" property="corporatorMobile" jdbcType="VARCHAR"/>
        <result column="COMREPSTATUS" property="status" jdbcType="DECIMAL"/>
        <result column="COMPANYNAME" property="companyName" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="CreditorRightsResultMap" type="redqueen.entity.CreditorTransfer.BorrowTenderTransferable">
        <result column="TENDERID" property="tenderId" jdbcType="VARCHAR"/>
        <result column="BORROWID" property="borrowId" jdbcType="VARCHAR"/>
        <result column="SCHEMEID" property="schemeId" jdbcType="VARCHAR"/>
        <result column="CURUSERID" property="curuserId" jdbcType="DECIMAL"/>
        <result column="LOGINID" property="curuserMobile" jdbcType="VARCHAR"/>
        <result column="EFFECTIVEMONEY" property="effectiveMoney" jdbcType="DECIMAL"/>
        <result column="ISOPTIMIZE" property="isOptimize" jdbcType="CHAR"/>
        <result column="STATUS" property="status" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="SchemeInfoBo" type="redqueen.entity.fdd.SchemeInfoBo">
        <result column="JOINID" property="joinId" jdbcType="VARCHAR"/>
        <result column="JOINDATE" property="joinDate" jdbcType="TIMESTAMP"/>
        <result column="SCHEMEID" property="schemeId" jdbcType="VARCHAR"/>
        <result column="SCHEMENAME" property="schemeName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID, USERNAME, PASSWORD
    </sql>

    <select id="getSignatoryMessage" resultMap="BaseResultMap">
      SELECT * FROM
      (
          SELECT
           ROWNUM,
           USERID,
           SENDREASON,
           CONTEXT,
           SENDTIME
          FROM XXD_MESSAGE_SITE_SENDLOGS
          WHERE SENDREASON = #{sendReason,jdbcType=VARCHAR}
          ORDER BY SENDTIME DESC
      ) t
      WHERE ROWNUM &lt; 6
    </select>

    <select id="queryBorrowGuarantor" resultMap="RcBorrowGuarantorVo">
        SELECT
          GUARNAME,
          IDCARDNO,
          ADDRESS,
          TELEPHONE,
          MOBILE,
          BANKNAME,
          BANKACCOUNT,
          STATUS,
          PRIORITY
        FROM RC_BORROW_GUARANTOR
        WHERE BORROWID = #{borrowId,jdbcType=VARCHAR}
        ORDER BY PRIORITY
    </select>

    <select id="queryCorporatorMobile" resultMap="CorporatorMobileVo">
        SELECT
          xuc.COMREPNAME,
          xuc.COMREPMOBILENO,
          xuc.COMREPSTATUS,
          xuc.COMPANYNAME
        FROM xxd_user_company xuc
        LEFT JOIN xxd_borrow xb
          ON xb.COMPANYID = xuc.ID
        WHERE xb.borrowid = #{borrowId,jdbcType=VARCHAR}
    </select>

    <select id="queryBorrowTenderBo" resultMap="CreditorRightsResultMap">
        SELECT xbt.TENDERID,
            xbt.BORROWID,
            xbt.SCHEMEID,
            xbt.CURUSERID,
            xu.LOGINID,
            xbt.EFFECTIVEMONEY,
            xbt.ISOPTIMIZE,
            xbt.STATUS
        FROM XXD_BORROW_TENDER xbt
        LEFT JOIN XXD_USER xu
          ON xu.USERID = xbt.CURUSERID
        WHERE xbt.BORROWID = #{borrowId,jdbcType=CHAR}
    </select>

    <select id="querySchemeInfo" resultMap="SchemeInfoBo">
            <if test="schemeType == 1">
                SELECT xou.USERSCHEMEID JOINID,
                    xou.ADDTIME JOINDATE,
                    xos.SCHEMEID,
                    xos.PNAME SCHEMENAME
                FROM XXD_OPTIMIZE_USERSCHEME xou
                LEFT JOIN XXD_OPTIMIZE_SCHEME xos
                ON xou.SCHEMEID = xos.SCHEMEID
                WHERE xou.SCHEMEID = #{schemeId,jdbcType=VARCHAR}
                <if test="userId != null and userId != ''">
                    AND xou.USERID = #{userId,jdbcType=DECIMAL}
                </if>
            </if>
            <if test="schemeType == 2">
                SELECT xsj.STEPJOINID JOINID,
                xsj.ADDTIME JOINDATE,
                xs.STEPID SCHEMEID,
                xs.SNAME SCHEMENAME
                FROM XXD_STEP_JOIN xsj
                LEFT JOIN XXD_STEP xs
                ON xsj.STEPID = xs.STEPID
                WHERE xsj.STEPJOINID = #{schemeId,jdbcType=VARCHAR}
            </if>
            <if test="schemeType == 3 or schemeType == 4 or schemeType == 5 or schemeType == 6">
                SELECT xrj.JOINID,
                xrj.ADDTIME JOINDATE,
                xr.ID SCHEMEID,
                xr.NAME SCHEMENAME
                FROM XXD_REGLINTST_JOIN xrj
                LEFT JOIN XXD_REGLINTST xr
                ON xrj.PID = xr.ID
                WHERE xrj.JOINID = #{schemeId,jdbcType=VARCHAR}
            </if>
    </select>
</mapper>